---
BasedOnStyle:  Google
AccessModifierOffset: -8
ColumnLimit:     80
SpacesBeforeTrailingComments: 1
IndentWidth:     8
TabWidth:        8
UseTab:          ForIndentation
BreakBeforeBraces: Stroustrup
ContinuationIndentWidth: 16
