---
BasedOnStyle: Google

AllowShortBlocksOnASingleLine:       false
AllowShortFunctionsOnASingleLine:    None
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces:                   Linux
Cpp11BracedListStyle:                true
Language:                            Cpp
PointerAlignment:                    Right
Standard:                            Cpp11
UseTab:                              ForIndentation

AccessModifierOffset:         -8
ColumnLimit:                  80
SpacesBeforeTrailingComments:  1
IndentWidth:                   8
TabWidth:                      8
ContinuationIndentWidth:       8
PenaltyExcessCharacter:       20
