playd++
Debug/
Release/
*.o
*.obj
*.dll
*.TMP
build/
doc/

# Visual Studio build subdirectories
include/
lib/

*.opensdf
*.sdf
*.suo
*.vcxproj.*

# Coverity
cov-int/
build-log.txt
playd.tgz

# Editor temporary files
*.sw?
*.lock~

# Sublime Text
*.sublime-project
*.sublime-workspace
