playd++
Debug/
Release/
*.o
*.obj
*.dll
*.TMP
build/
doc/

*.opensdf
*.sdf
*.suo
*.vcxproj.*

# Coverity
cov-int/
build-log.txt
playslave-plusplus.tgz

# Sublime Text
*.sublime-project
*.sublime-workspace
