language: cpp

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo add-apt-repository -y ppa:zoogie/sdl2-snapshots
  - if [ "$CXX" == "clang++" ]; then wget -O - http://llvm.org/apt/llvm-snapshot.gpg.key|sudo apt-key add -; fi
  - if [ "$CXX" == "clang++" ]; then sudo sh -c "echo 'deb http://llvm.org/apt/precise/ llvm-toolchain-precise-3.6 main' >> /etc/apt/sources.list"; fi
  - sudo apt-get update -qq

install:
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-5; fi
  - if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
  - if [ "$CXX" == "clang++" ]; then sudo apt-get install --allow-unauthenticated -qq clang-3.6; fi
  - if [ "$CXX" == "clang++" ]; then export CXX="clang++-3.6" CC="clang-3.6"; fi
  - if [ "$USE_CMAKE" = "TRUE" ]; then sudo apt-get install -qq cmake; fi

  - sudo apt-get install -y libmpg123-dev libsndfile-dev libsdl2-dev
  - sudo pip install cpp-coveralls

# Ubuntu 12.04 doesn't have a libuv package, so we install it from source.
before_script:
  - ./make_libuv.sh

compiler:
  - clang
  - gcc

env:
  - USE_CMAKE=TRUE
  - USE_CMAKE=FALSE

script:
  - if [ "$USE_CMAKE" = "FALSE" ]; then ./config.sh && make coverage; fi
  - if [ "$USE_CMAKE" = "TRUE" ]; then mkdir cbuild && cd cbuild; cmake .. && make && make test; fi

# coveralls doesn't like gcc (segfaults)
after_success:
  - if [ "$CXX" == "clang++-3.6" ] && [ "$USE_CMAKE" == "FALSE" ]; then coveralls -b . --exclude src/tests --exclude src/contrib --gcov="`which llvm-cov-3.6`"; fi
