@import url(//fonts.googleapis.com/css?family=Merriweather:400,700,400italic|Merriweather+Sans:700|Roboto+Slab:700);

html {
	background-color: #fafafa;
}

body {
	color: rgba(0, 0, 0, 0.85);
	font-family: 'Merriweather', serif;
	font-size: 14pt;
}

table.head {
	border-bottom: 3pt solid #c5cae9;
	padding-bottom: 1rem;
}

table.foot {
	border-top: 3pt solid #c5cae9;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

table.head, table.foot {
	color: #5c6bc0;
	font-style: italic;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather Sans', sans-serif;
}

.section {
	margin: 0 auto;
	width: 66%;
}

a:link {
	color: #5677fc;
}
a:active {
	color: #e51c23;
}
a:visited {
	color: #673ab7;
}

