@import 'https://fonts.googleapis.com/css?family=Work+Sans:400,700';
@import 'https://fonts.googleapis.com/css?family=Space+Mono:400,400i';

html {
	background-color: #1d1f21;
	margin: 0;
}

body {
	color: #c5c8c6;
	font-family: 'Work Sans', sans-serif;
	font-size: 14pt;
}

table.head {
	border-bottom: 3pt solid #b4b7b4;
	padding-bottom: 1rem;
	color: #e0e0e0;
	font-family: 'Space Mono', monospace;
	margin: 0;
}

table.foot {
	padding-top: 1rem;
	color: #e0e0e0;
	font-family: 'Space Mono', monospace;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Space Mono', monospace;
}

.section {
	margin: 0 auto;
	width: 66%;
}

a:link {
	color: #81a2be;
}
a:active {
	color: #8abeb7;
}
a:visited {
	color: #b294bb;
}

/* Make authors appear on one line. */
.author {
	white-space:pre;
}
.author:not(:first-of-type):before {
	content: "\A";
}
