@import 'https://fonts.googleapis.com/css?family=Work+Sans:400,700';
@import 'https://fonts.googleapis.com/css?family=Space+Mono:400,400i';

html {
	background-color: #1d1f21;
	margin: 0;
}

body {
	color: #c5c8c6;
	font-family: 'Work Sans', sans-serif;
	font-size: 14pt;
}

header {
	border-bottom: 3pt solid #b4b7b4;
	padding-bottom: 1rem;
	text-align: center;
}
header h1 {
	display: inline;
	color: #e0e0e0;
	font-family: 'Space Mono', monospace;
	font-size: 3rem;
	margin: 0;
}
header p {
	display: inline;
	color: #c5c8c6;
	font-family: 'Space Mono', monospace;
	font-style: italic;
	margin: 0;
	margin-top: 6pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Space Mono', monospace;
}

pre {
	background-color: #282a2e;
	padding: 0.5rem;
	text-overflow: ellipsis;
	overflow: hidden;
}
code {
	font-family: 'Space Mono', monospace;
}

main {
	margin: 0 auto;
	width: 66%;
}

a:link {
	color: #81a2be;
}
a:active {
	color: #8abeb7;
}
a:visited {
	color: #b294bb;
}

