# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
playslave
*.exe
*.out
*.app

# Core dumps
*.core
*.stackdump

# Backups
*~
*.BAK

# Vim swap
*.sw[a-zA-Z]

# Lint stuff
*.ln

# CTAGS
tags

# Windows/Dev-C++ crap
*.dev
*.layout
*.Win

# AsciiDoc renderings
*.html
*.png
